<!DOCTYPE html>
<html>
  <head>
    <title>TimerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/">TimerApp</a>
      </div>
      <ul class="header-menus">
        <li><a href="/about">TimerAppとは</a></li>
      </ul>
    </header>


    <%= yield %>
  </body>
</html>
