<!DOCTYPE html>
<html>
  <head>
    <title>TimerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("TimerApp","/") %>
      </div>
      <ul class="header-menus">
        <li><%= link_to("TimmerAppとは","/about")%></li>
        <li><%= link_to("ユーザー一覧","/users/index")%></li>
        <li><%= link_to("ユーザー登録","/signup")%></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
