<!DOCTYPE html>
<html>
  <head>
    <title>TimerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("TimerApp","/") %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <!--ログイン状態時に表示させる一覧-->
          <li><%= link_to(@current_user.name,"/users/#{@current_user.id}")%></li>
          <li><%= link_to("TimmerAppとは","/about")%></li>
          <li><%= link_to("ユーザー一覧","/users/index")%></li>
          <li><%= link_to("ログアウト","/logout",{method: :post})%></li>
        <% else %>
          <!--ログインしていない時に表示させる一覧-->
          <li><%= link_to("TimmerAppとは","/about")%></li>
          <li><%= link_to("ユーザー登録","/signup")%></li>
          <li><%= link_to("ログイン","/login")%></li>
        <% end %>
      </ul>
    </header>
    <!--Flashメッセージがあれば表示させる-->
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>