<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
        <!--ログインしており、IDが一致しているユーザーのみ表示させる-->
        <% if @current_user.id == @user.id %>
          <%= link_to("編集", "/users/#{@user.id}/edit") %>
          <%= link_to("学習を記録する","/users/#{@user.id}/record") %>
        <% end %>
    </div>
    <% @logs.each do |log| %>
          <div class="log">
            <!--自身のIDと紐づく記録以外は表示させない-->
            <% if log.user_id == @user.id %>
              <%= log.start_time %>
              <!--ログインしており、IDが一致しているユーザーのみ表示させる修正が必要-->
              <% if @current_user.id == @user.id %>
                <%= link_to("記録更新","/users/#{log.id}/record_edit") %>
                <%= link_to("削除","/users/#{log.id}/record_destroy",{method:"post",data: { confirm: "削除しますか？" }}) %>
              <% else %>
                <%= link_to("詳細","/users/#{log.id}/view") %>
              <% end %>
            <% end %>
          </div>
    <% end %>
  </div>
</div>