<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
          <%= link_to("編集", "/users/#{@user.id}/edit") %>
          <%= link_to("学習を記録する","/users/#{@user.id}/record") %>
    </div>
    <% @logs.each do |log| %>
          <div class="log">
            <%= log.start_time %>
            <%= link_to("記録更新","/users/#{log.id}/record_edit") %>
            <%= link_to("削除","/users/#{log.id}/record_destroy",{method:"post",data: { confirm: "削除しますか？" }}) %>
          </div>
    <% end %>
  </div>
</div>