<div class="main users-edit">
  <div class="container">
    <div class="form-heading">学習内容の閲覧</div>
    <% if @logs.end_time != nil %>
      <p>学習時間: <%= @df %></p>
    <% else %>
      <p>学習時間:記録中</p>
    <% end %>
    <div class="form users-form">
      <div class="form-body">
        <!--編集フォーム-->
        <div class = "form_conf">
            <p>開始日時</p>
            <input name="start_time" value="<%= @logs.start_time.strftime("%Y-%m-%d %H:%M:%S") %>" readonly>
            <p>終了日時</p>
            <% if @logs.end_time != nil %>
              <input name="end_time" value="<%= @logs.end_time.strftime("%Y-%m-%d %H:%M:%S") %>" readonly>
            <% else %>
              <input name="end_time">
            <% end %>
            <p>学習内容</p>
            <textarea name="menu" readonly><%= @logs.menu %></textarea>
            <%= button_to "戻る", "/users/#{@logs.user_id}", {method: :get} %>
      </div>
      </div>
    </div>
  </div>
</div>